# With this .envrc file you can run "start:mocks" locally with:
#   npx binode --require ./mocks -- @remix-run/serve:remix-serve build
# If you do not have direnv installed on your machine, we provide have dotenv as a
# development dependency. So instead you can run:
#   npx binode --require ./mocks --require ./node_modules/dotenv/config -- @remix-run/serve:remix-serve build
dotenv .env
